.homepage {
    
    position: absolute;
    width: 100%;
  }

.homepage h2 {
  color:antiquewhite;
}

.home-bg {
    display: flex;
    flex-direction: column;
    background-image: url('https://i.ibb.co/gJ1dcLX/dan-cristian-padure-LDMgqr8z7-ZE-unsplash.jpg');
    opacity: 0.8;
    background-size: cover;
    position: absolute;
    width: 100%;
}


.home-bg ul li {
  color:antiquewhite;
}

@media only screen and (min-width: 1024px) {
  .home-bg {
    flex-direction: row;
  }
}