.landingPage {
    height: 100%;
    /* position: absolute; */
    width: 100%;
  }
  
  .landingPage-logo {
    width: 150px;
    position: relative;
    top: 30px;
  }
  
  .landingPage-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }
  
  .bg-img {
        background-image: url('https://i.ibb.co/B6PNZwq/biljana-martinic-IGJ-21dr-T3g-unsplash.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
  }

  
  .login-img {
    width: 150px;
    position: relative;
    top: 30px;
  }
  
  .login-container {
    margin-top: 25%;
    margin-bottom: 25%;
   
 }

  .form-login {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 40px;
    padding: 110px;
  }
  
  .form-login-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .login-input {
    padding: 10px;
    border: none;
    border-radius: 10px;
  }
  
  .btn-login {
    background-color: #0f2334;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 20px;
  }

  .landingPage-login p {
    color: antiquewhite;
  }

  .join {
    
    display: flex;
    justify-content: center;
    text-decoration: none; 
  }

  .join p:hover {
    color: #8B0000
  }
  
  .dropsLogin {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    color: 	#590505;
    padding-top: 3rem;
}
  .dropsIcon {
    display: flex;
    align-self: center;
    font-size: 40px;
    font-weight: 700;
    color: #8B0000
}


  @media only screen and (min-width: 1024px){
    .login-container {
      margin-top: 10%;
      margin-bottom: 10%;
     
   }
  }
  