.login-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30%;
  border-radius: 15px;
}

.login-container form {
  background: rgb(61, 62, 55);
  background: linear-gradient(
    360deg,
    rgba(61, 62, 55, 0.7) 0%,
    rgba(97, 5, 5, 0.7) 100%
  );
  padding: 1.5rem;
}

.login-container label {
  color: antiquewhite;
  margin-top: 1rem;
}

.login-container input {
  padding: 10px;
  border: antiquewhite;
  border-radius: 10px;
  color: #2f4f4f;
  background-color: transparent;
  border: solid 1px #d8bfd8;
  color: antiquewhite;
}

.submit-button {
  background-image: url("https://i.ibb.co/y5kSbcj/wine-corkscrew-wooden-handle-engraving-style-old-cork-screw-vintage-199123870.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(45deg);
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  align-self: center;
  margin-top: 1rem;
}

@media only screen and (min-width: 1024px) {
  .submit-button:hover {
    transform: rotate(15deg);
  }
}
