.login-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30%;   
    border-radius: 15px;
}

.login-container form {
    background: rgb(61,62,55);
    background: linear-gradient(360deg, rgba(61,62,55,0.7) 0%, rgba(97,5,5,0.7) 100%);
    padding: 1.5rem;
}

.login-container label {
    color:antiquewhite;
    margin-top: 1rem;
}

.login-container input {
    padding: 10px;
    border: antiquewhite;
    border-radius: 10px;
    color: #2F4F4F;
    background-color: transparent;
    border: solid 1px #D8BFD8;
}


.lock-icon {
    position: absolute;
    left: 46%;
    bottom: 60%;
    border-radius: 50%;
  }

  .lock-icon-container {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 25%;
    align-items: center;
  }

  .submit-button {
        background-image: url('https://i.ibb.co/3cYr48T/sacacorchos.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        align-self: center;
  }