.myNotespage {
    position: absolute;
    width: 100%;
    background-image: url('https://i.ibb.co/gJ1dcLX/dan-cristian-padure-LDMgqr8z7-ZE-unsplash.jpg');
    opacity: 0.8;
    background-size: cover;
    position: absolute;
    width: 100%;
    
  }


