@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Graduate&family=Inter:wght@100;200;300;400;500;600;700&display=swap');

.notes-container {
    display: flex;
    flex-direction: column;
    margin: 2rem;   
    border-radius: 15px;

}

.notes-container form {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background: linear-gradient(360deg, rgba(61,62,55,0.7) 0%, rgba(97,5,5,0.7) 100%);
    padding: 1.5rem;
    margin-top: 2rem;
}

.notes-container input {
    padding: 10px;
    border: antiquewhite;
    border-radius: 10px;
    color: #2F4F4F;
    background-color: transparent;
    border: solid 1px #D8BFD8;
}

.notes-container label {
    color:antiquewhite;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;;
}

.notes-img {
    background-image: url("https://i.ibb.co/mBYM0d4/grapes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
    height: 100%;
    position: absolute;
    width: 100%;
    /* background-image: url("https://i.ibb.co/MPj4rQm/nazaregal5.jpg"), linear-gradient(360deg, rgba(57, 73, 87, 0.9) 0%, rgba(255, 255, 255, 0) 100%); */
}

.notes-button {
    background-image: url('https://i.ibb.co/XJJw37t/posters-cork-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    margin-top: 1rem;
    font-weight: 500;
    text-align: center;
    font-family: 'Graduate', cursive;
    font-weight: bold;
    color: #2E0C0C;
    align-self: center;
}

.notes-container form input {
    color: antiquewhite;
}

.notes-container textarea {
    background: transparent;
    color:antiquewhite;
    border: solid 1px #D8BFD8;
    border-radius: 10px;
    height: 5rem;
}

@media only screen and (min-width: 1024px) {
    .notes-container {
        width: 50%;
    }

    .notes-button:hover {
        transform: rotate(15deg);
    }
}