@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Graduate&family=Inter:wght@100;200;300;400;500;600;700&display=swap");

.notes-container {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  border-radius: 15px;
}

.notes-container form {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background: linear-gradient(
    360deg,
    rgba(61, 62, 55, 0.7) 0%,
    rgba(97, 5, 5, 0.7) 100%
  );
  padding: 1.5rem;
  margin-top: 2rem;
}

.notes-container input {
  padding: 10px;
  border-radius: 10px;
  color: antiquewhite;
  background-color: transparent;
  border: solid 1px #d8bfd8;
}

.notes-container label {
  color: antiquewhite;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

::placeholder {
  color: antiquewhite;
  font-style: italic;
}

.notes-button {
  background-image: url("https://i.ibb.co/XJJw37t/posters-cork-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  margin-top: 1rem;
  font-weight: 500;
  text-align: center;
  font-family: "Graduate", cursive;
  font-weight: bold;
  color: #2e0c0c;
  align-self: center;
}

/* .notes-container form input {
  color: antiquewhite;
} */

.notes-container textarea {
  background: transparent;
  color: antiquewhite;
  border: solid 1px #d8bfd8;
  border-radius: 10px;
  height: 5rem;
}

.save-btn {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.required {
  position: relative;
  background-color: gray;
}

.err-tooltip {
  background: #d8bfd8;
  padding: 0.5rem;
  color: #cc0000;
  position: absolute;
  border-radius: 5px;
  top: -0.5rem;
  left: -0.5rem;
  z-index: 20;
  transition: ease-in-out;
}

.err-tooltip::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the top of the tooltip */
  margin-top: -2.7rem;
  margin-left: -7rem;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #d8bfd8 transparent;
}

@media only screen and (min-width: 1024px) {
  .notes-container {
    width: 50%;
  }

  .notes-button:hover {
    transform: rotate(15deg);
  }
}
