.top-wines-container {
    display: flex;
    flex-direction: column;
    /* height: 40%;
    width: 80%; */
    margin: 2.5rem;
    padding-top: 3rem;
}

.top-rated {
    background: linear-gradient(360deg, rgba(61,62,55,0.7) 0%, rgba(97,5,5,0.7) 100%);
    border-radius: 10px 10px 0 0;
    color:antiquewhite;
    width: 25%;
    padding: 4px;
}

.top-wines {
    display: grid;
    grid-template-rows: 1fr 1fr;
    border-radius: 0 15px 15px 15px;
    background: linear-gradient(360deg, rgba(61,62,55,0.7) 0%, rgba(97,5,5,0.7) 100%);
    padding: 1.5rem;
    justify-items: center;
    justify-content: center;
    color:antiquewhite
}

.wine-img {
    height: 40vh;
    width: 70vw;
}

.wine-img img {
    height: 100%;
    width: 100%;
    
}

.description {
    display: none;
}

@media only screen and (min-width: 1024px) {
    .top-wines-container {
        width: 50%;
    }
    
    .top-wines {
        display: flex;
    }

    .wine-img {
        height: 30vh;
        width: 20vw;
        display: flex;
        flex-direction: column;
        align-self: center;

    }

    .wine-img img {
        margin-left: 0.5rem;
    }

    .description {
        display: contents;
    }

    .top-wines-text {
        max-width: 50%;
    }
}