.card-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 90%;
    justify-content: center;
    margin: 1rem;
    
}

.card-bg {
    background: linear-gradient(360deg, rgba(61,62,55,0.4) 0%, rgb(96, 6, 6) 50%);
    background-color: transparent;
}

.card-img {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: start;
    align-items: center;
}


.card-img img {
    height: 11vh;
    width: 20vw;
    border-radius: 50%;
}

.card-text {
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.link-button {
    display: flex;
    justify-content: flex-end;
}

.read-more-button {
    font-size: 1rem;
    appearance: none;
    outline: none;
    border: none;
    background-color: transparent;
    align-self: center;
    justify-self: end;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

@media only screen and (min-width: 1024px) {

    .card-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 300px;;
    }

    .card-bg {
        height: 100%;
        width: 100%;
        border-radius: 25px;
    }

    .card-text {
        font-size: 16px;
        padding-top: 1rem;
    }

    .card-img img {
        height: 18vh;
        width: 10vw;
    }

    .card-img {
        justify-content: center;
    }
    
    .read-more-button:hover {
        color:	#696969;
    }
   
    .link-button {
        margin-top: 1rem;
    }
}