.advanced-container {
  display: flex;
  flex-direction: column;
  /* height: 50vh; */
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  text-transform: capitalize;
}

.advanced-container h4 {
  width: 3rem;
  padding-bottom: 0.2rem;
}

.advanced-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* align-items: center; */
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
  border-bottom: solid 1px #d8bfd8;
  padding-bottom: 1rem;
}

.category-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
