.page-bg {
  display: flex;
  flex-direction: column;
  background-image: url("https://i.ibb.co/mBYM0d4/grapes.jpg");
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding-top: 6rem;
}
