.homepage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('https://i.ibb.co/gJ1dcLX/dan-cristian-padure-LDMgqr8z7-ZE-unsplash.jpg');
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding-top: 6rem;
}

.homepage-header {
  margin-top: 3rem;
}

.homepage a:link {
  text-decoration: none;
}

.homepage h2,
.homepage h3 {
  font-size: 2rem;
  color: antiquewhite;
  margin: 1rem;
  text-align: center;
  font-style: italic;
}

.top-list {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    360deg,
    rgba(61, 62, 55, 0.7) 0%,
    rgba(97, 5, 5, 0.7) 100%
  );
  /* padding: 1.5rem; */
  color: antiquewhite;
}

/* .home-bg ul {
  margin-top: 2rem;
} */

@media only screen and (min-width: 1024px) {
  .homepage {
    display: flex;
    justify-content: center;
    gap: 80px;
  }

  .homepage h2 {
    font-size: 2rem;
    margin-top: 2rem;
  }
}
