.login-container {
  background-image: url('https://i.ibb.co/mBYM0d4/grapes.jpg');
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  /* padding-top: 6rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.login-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
  width: 100%;
  height: auto;
  font-size: 1.5rem;
  color: antiquewhite;
  margin: -3rem 0;
}

.login-header svg {
  fill: rgb(96, 6, 6);
}

.login-container form {
  display: flex;
  flex-direction: column;
  background: rgb(61, 62, 55);
  background: linear-gradient(
    360deg,
    rgba(61, 62, 55, 0.7) 0%,
    rgba(97, 5, 5, 0.7) 100%
  );
  border-radius: 10px;
  padding: 1.5rem;
  gap: 0.5rem;
}

.login-container h3 {
  text-align: center;
  color: antiquewhite;
}

input::placeholder {
  opacity: 0.6;
  color: antiquewhite;
}

.login-container label {
  color: antiquewhite;
  margin-top: 1rem;
}

.login-container input {
  padding: 10px;
  border: antiquewhite;
  border-radius: 10px;
  color: #2f4f4f;
  background-color: transparent;
  border: solid 1px #d8bfd8;
  color: antiquewhite;
}

.login-container p {
  color: antiquewhite;
  font-style: italic;
  margin-top: 1rem;
}

.submit-button {
  background-image: url('https://i.ibb.co/y5kSbcj/wine-corkscrew-wooden-handle-engraving-style-old-cork-screw-vintage-199123870.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(45deg);
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  align-self: center;
  margin-top: 1rem;
}

@media only screen and (min-width: 1024px) {
  .submit-button:hover {
    transform: rotate(15deg);
  }
}
