.my-notes-container {
  background-image: url('https://i.ibb.co/gJ1dcLX/dan-cristian-padure-LDMgqr8z7-ZE-unsplash.jpg');
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.my-notes-container h2 {
  font-size: 3rem;
  text-align: center;
  color: antiquewhite;
  margin: 2rem 0;
  font-style: italic;
}

.small-cards-container {
  display: flex;
  flex-direction: column;
  max-width: 75%;
  align-self: center;
}

.hidden {
  display: none;
}

.show-btn {
  color: antiquewhite;
  background-color: rgb(96, 6, 6);
  padding: 1rem 0.5rem;
  border-radius: 10px;
}

.back-to-top-btn {
  color: antiquewhite;
  background-color: rgb(96, 6, 6);
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}

.back-to-top-btn svg {
  height: 2.2rem;
  width: 2.2rem;
}

.fixed-btn {
  position: fixed;
  bottom: 1rem;
  right: 1.5rem;
}
.fixed-btn-left {
  position: fixed;
  bottom: 1rem;
  left: 5%;
}

@media only screen and (min-width: 1024px) {
  .small-cards-container {
    max-width: 60%;
  }

  .my-notes-actions {
    align-items: center;
    margin: 0;
  }

  .my-notes-container button {
    opacity: 0.9;
  }

  .my-notes-container button:hover {
    cursor: pointer;
    outline: 1px solid antiquewhite;
    box-shadow: none;
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
  }
}
