.singleNotesPage {
  position: absolute;
  width: 100%;
  background-image: url("https://i.ibb.co/gJ1dcLX/dan-cristian-padure-LDMgqr8z7-ZE-unsplash.jpg");
  background-size: cover;
}

@media only screen and (min-width: 1024px) {
  .singleNotesPage {
    height: 100%;
  }

  .single-container {
    display: flex;
    flex-direction: column;
  }
}

.myNotes-container {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background: linear-gradient(
    360deg,
    rgba(61, 62, 55, 0.7) 0%,
    rgba(97, 5, 5, 0.7) 100%
  );
  padding: 1.5rem;
  margin: 2rem;
  gap: 1rem;
}

.myNotes-container div {
  display: grid;
  grid-template-columns: 20% auto 5%;
  align-items: center;
}

label {
  color: antiquewhite;
  text-align: start;
}

input {
  border-radius: 5px;
  background-color: antiquewhite;
  text-align: center;
  padding: 0.5rem;
  align-items: stretch;
  border: none;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  border-radius: 5px;
  height: 90%;
  width: auto;
  /* display: none; */
}
.icon:hover {
  cursor: pointer;
  background: #0e73d8;
}
.icon svg {
  fill: antiquewhite;
}
