.vocabulary-section {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-image: linear-gradient(180deg, rgba(232, 236, 239, 0.6), #f0f2f6),
    url(../assets/images/grapes.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-size: auto, cover;
  min-height: 100vh;
  padding-top: 6rem;
  gap: 0.7rem;
}

.vocabulary-header {
  /* margin-top: 1rem; */
  width: 100%;
  height: 20%;
  background: #0e73d8;
  color: antiquewhite;
  padding: 1.2rem;
  text-align: center;
}

.vocabulary-header p {
  margin-top: 0.7rem;
}

.vocabulary-subtitle {
  padding: 1rem 0;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.categories-container {
  min-width: 100%;
  margin-bottom: 2.5rem;
}

.bg-light-blue {
  color: #737373;
  background: #9fccf9;
}
.bg-lighter-blue {
  color: #737373;
  background: #cfe6fc;
}

.bg-white {
  color: #666666;
  background-color: #fff;
}

.key-questions {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  justify-items: center;
  padding: 0.5rem 0;
  color: #666666;
  background-color: antiquewhite;
  width: 100%;
  /* margin: 0.7rem 0; */
  line-height: 1.5rem;
}

.key-questions h4 {
  margin: 0 1rem;
  font-weight: bolder;
}

.key-questions > div:nth-child(1) {
  border-right: 1px solid #666666;
  height: 100%;
  display: flex;
  align-items: center;
}

.clusters-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  padding: 0.3rem 0.8rem;
}

.clusters-header > h4:nth-child(2) {
  margin-right: 10rem;
}
.cluster {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1.5rem;
  padding: 0.2rem 0.8rem;
}

.cluster h5 {
  font-size: medium;
}
.cluster-desc {
  display: flex;
}

.cluster-desc p {
  margin: 0 0.2rem;
}
