@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Graduate&family=Inter:wght@100;400;500;600;700&family=Shadows+Into+Light&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  /* font-family: 'Shadows Into Light', cursive; */
  color:antiquewhite;
  font-size: 18px;
  font-weight: 400;
}

@media only screen and (min-width: 1024px) {
  * {
    font-size: 20px;
  }

 
}